{% include bootstrap-header.html %}

<div class="container">
    <h1>Principles of Multi-Sensory Applications</h1>
    <div class="tagline">Your CRUDy Software Needs a New Brain</div>

    <div class="row" style="padding-bottom:40px;">
        <div class="col-md-3 col-md-offset-3 col-sm-12 author">
            <img class="avatar" src="images/christophe_coenraets.jpg"/>
            <div>
                <a href="http://coenraets.org">Christophe Coenraets</a>
                <p><a href="https://twitter.com/ccoenraets">@ccoenraets</a></p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 author">
            <img class="avatar" src="images/james_ward.jpg"/>
            <div>
                <a href="http://www.jamesward.com/">James Ward</a>
                <p><a href="https://twitter.com/_jamesward">@_JamesWard</a></p>
            </div>
        </div>
    </div>
    <div class="date"><span class="glyphicon glyphicon-calendar"></span> April 2nd 2015</div>

    {{ content }}
</div>

{% include bootstrap-footer.html %}
